body {
    margin:auto;
}

header {
    box-shadow: 0px 2px 10px #8e5afc;
    height: 90px;
    width: 100%;
}

header > nav {
    display: flex;
}
a{
    padding: 0 0 0 1rem;
    display: flex;    
    align-items: center;
  
   
}
h1{
    background: linear-gradient(120deg, #d38137 30%, #8e5afc 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logo{
    height: 70%;
}
#main{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    display: flex;
    color: #737485;   
    font-size: 30px;
}

#teddy-details{
   align-items: center;
    margin: 0 1rem 0 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 10px #737485;
}
#teddy-image{
    max-width: 280px;
    margin: 1rem 1rem 1rem 1rem;
}
#teddy-name{   
    text-align: center;   
    
}
#teddy-description{
    margin: 1rem 1rem 1rem 1rem;
}
#teddy-color {
    display: flex;
    flex-wrap: wrap;
}
#name-price{
    background-color: #737485;
    color: white;
    width:100%;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.liste,#name-price, #add-basket{
    margin: 0 0 2rem 0;
}

.liste{
    min-width:50%;
}
#add-basket{
    max-width: 50%;
    background-color: #737485;
    color: white;
}


